.jumbotron{
    padding: 0px;
}

a .container p {
    text-decoration: none !important;
    color: #000000;
}

a .container h1 {
    text-decoration: none !important;
    color: #000000;
}

a:hover {
    text-decoration: none !important;
}

textarea {
    width: 100%;
}

input {
    width: 100%;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    background: #F0F0F0;
}

tr:nth-child(even) {
    background-color: #dddddd;
}